# 앤스콤 데이터 집합 불러오기

# matplotlib 라이브러리로 간단한 그래프 그리기

# 한 번에 4개의 그래프 그리기

# 기초 그래프 그리기 - 히스토그램, 산점도, 박스 그래프

# 단변량 그래프 그리기 - 히스토그램

# 다변량 그래프 그리기

# 데이터프레임과 시리즈로 그래프 그리기

# 알아두면 좋아요

In [ ]:
Pandas를 사용하는 이유는 ?? 

- 데이터 전처리 라이브러리
- 분석하기 좋은 형태
- 머신러닝 , 딥러닝 등 학습에 적합한 데이터로 바꿔준다. 또는 다차원의 형태로 변경가능 

- 데이터를 2차원의 표 형태로 표현한다.
- 하나의 값으로만 이루어져야한다. (null, Nan, 주소(도시별,구별 ))

In [74]:
import pandas as pd
import seaborn as sns

In [75]:
tips = sns.load_dataset('tips') #seaborn에서 제공하는 tips 예시

In [76]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [77]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.3 KB

In [78]:
tips['sex'].astype(str)  #astype 은 데이터 형을 변환시켜준다. . 원본은 바뀌지 않는다.

0      Female
1        Male
2        Male
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex, Length: 244, dtype: object

In [79]:
tips['sex'] = tips['sex'].astype(str) #데이터프레임에 변경한 값을 넣어주면 원본도 바뀌게 된다.

In [ ]:
copy=True

In [80]:
tips['sex1'] =tips['sex'].astype(str,copy=False)

In [81]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex1        244 non-null    object
dtypes: category(3), float64(2), int64(1), object(2)
memory usage: 10.7+ KB

In [82]:
tips['size'].astype('category')#데이터타입을 변경시켜준다.

0      2
1      3
2      3
3      2
4      4
      ..
239    3
240    2
241    2
242    2
243    2
Name: size, Length: 244, dtype: category
Categories (6, int64): [1, 2, 3, 4, 5, 6]

In [89]:
tips['sex1'] = tips['sex'].astype(str,copy=False)

In [90]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex1        244 non-null    object
dtypes: category(3), float64(2), int64(1), object(2)
memory usage: 10.7+ KB

In [95]:
tips['tip'].astype('datetime64[ns, US/Eastern]')

0     1970-01-01 00:00:00.000000001-05:00
1     1970-01-01 00:00:00.000000001-05:00
2     1970-01-01 00:00:00.000000003-05:00
3     1970-01-01 00:00:00.000000003-05:00
4     1970-01-01 00:00:00.000000003-05:00
                      ...
239   1970-01-01 00:00:00.000000005-05:00
240   1970-01-01 00:00:00.000000002-05:00
241   1970-01-01 00:00:00.000000002-05:00
242   1970-01-01 00:00:00.000000001-05:00
243   1970-01-01 00:00:00.000000003-05:00
Name: tip, Length: 244, dtype: datetime64[ns, US/Eastern]

In [97]:
tips_missing = tips.loc[[1,3,5,7]]

In [98]:
tips_missing

   total_bill   tip   sex smoker  day    time  size  sex1
1       10.34  1.66  Male     No  Sun  Dinner     3  Male
3       23.68  3.31  Male     No  Sun  Dinner     2  Male
5       25.29  4.71  Male     No  Sun  Dinner     4  Male
7       26.88  3.12  Male     No  Sun  Dinner     4  Male

In [101]:
tips_missing.loc[[1,5],'total_bill'] = 'missing'   #이렇게 str을 넣으면 tips_missing의 Dtype이 Object로 바뀐다.

In [102]:
tips_missing

  total_bill   tip   sex smoker  day    time  size  sex1
1    missing  1.66  Male     No  Sun  Dinner     3  Male
3      23.68  3.31  Male     No  Sun  Dinner     2  Male
5    missing  4.71  Male     No  Sun  Dinner     4  Male
7      26.88  3.12  Male     No  Sun  Dinner     4  Male

In [103]:
tips_missing.info() #

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1 to 7
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  4 non-null      object
 1   tip         4 non-null      float64
 2   sex         4 non-null      object
 3   smoker      4 non-null      category
 4   day         4 non-null      category
 5   time        4 non-null      category
 6   size        4 non-null      int64
 7   sex1        4 non-null      object
dtypes: category(3), float64(1), int64(1), object(3)
memory usage: 748.0+ bytes

In [104]:
tips_missing['total_bill'].astype(float) #오류가 발생한다.

ValueError: could not convert string to float: 'missing'

In [105]:
pd.to_numeric(tips_missing['total_bill'],errors='ignore') #오류가 발생해도 errors=ignore로 오류를 무시할 수 있다.  to_numeric은 오류가 났을때 처리가 가능한

1    missing
3      23.68
5    missing
7      26.88
Name: total_bill, dtype: object

In [107]:
pd.to_numeric(tips_missing['total_bill'],errors='coerce') #dtype이 float64

1      NaN
3    23.68
5      NaN
7    26.88
Name: total_bill, dtype: float64

In [ ]:
pd.to_numeric(tips_missing['total_bill'],errors='coerce',downcast='float') #float32로 다운캐스팅한다. 왜냐하면 데이터